<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <title>Quiz Form</title>
</head>

<body>
    <div class="single-question">

        <form action="/quizs/<%= quizId %>/play/<%= +index + 1%>" , method="POST">
            <span> Question. <%= +index %>/<%= length %></span>

            <div>Your Score : score <%= score %></div>

            <h2>Question <%= question.title%></h2> 

            <div class="single-question-a">
                <p>a)</p>
                <p><%=question.answers[0].key %></p>
                <input type="radio" name="answer" value="0">
            </div>

            <div class="single-question-a">
                <p>b)</p>
                <p><%=question.answers[1].key %></p>
                <input type="radio" name="answer" value="1">
            </div>

            <div class="single-question-a">
                <p>c)</p>
                <p><%=question.answers[2].key %></p>
                <input type="radio" name="answer" value="2">
            </div>

            <div class="single-question-a">
                <p>d)</p>
                <p><%=question.answers[3].key %></p>
                <input type="radio" name="answer" value="3">
            </div>

            <input type="hidden" name="score" value="<%= score %>">
            <input type="submit" value="Submit">
        </form>
    </div>
</body>
</html>