<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <title>Single Quiz</title>
</head>

<body>
    <div class="inner-header">
        <% include partials/innerHeader %>
    </div>
    <h2>
        <%= quiz.title %>
    </h2>
    <a href="/quizs/<%= quiz._id %>/new">Add Question</a>
    <h3>
        <a href="name"><%= quiz.userId.name%></a>
    </h3>

    <%quiz.question.forEach((quest,qi) => { %>
    <h4>Q.<%= qi+1 %> <%= quest.title%></h4>
    <div class="options">
        <% quest.answers.forEach((ans,ai) => { %>
        <span><%= ai+1 %>. <%= ans.key %> </span>
        <%})%>
        <a href="/quizs/<%= quiz._id %>/edit">Edit</a>
        <a href="/questions/<%= quiz._id %>/<%= quest._id %>/delete">Delete</a>
    </div>
    <% })%>
</body>

</html>